#vt100 #cursor.bright {
  color:            #ffffff;
  background-color: #000000;
  opacity:          0.2;
}

/*#vt100 #cursor.dim {
  background-color: black;
  opacity:          0.2;
  -moz-opacity:     0.2;
  filter:           alpha(opacity=20);
}

#vt100 #scrollable {
  color:            #ffffff;
  background-color: #000000;
  opacity:          0.2;
  -moz-opacity:     0.2;
}

#vt100 #scrollable.inverted {
  color:            #ffffff;
  background-color: #000000;
  opacity:          0.2;
}
*/
#vt100 .ansiDef {
  color:            #cccccc;
}

#vt100 .ansiDefR {
  color:            #000000;
}

#vt100 .bgAnsiDef {
}

#vt100 .bgAnsiDefR {
}

#vt100 #scrollable.inverted .ansiDef {
  color:            #000000;

}
/*
#vt100 #scrollable.inverted .ansiDefR {
  color:            #ffffff;
   opacity:          0.2;
  -moz-opacity:     0.2;
}

#vt100 #scrollable.inverted .bgAnsiDef {
 opacity:          0.2;
  -moz-opacity:     0.2;
  background-color: #ffffff;
}

#vt100 #scrollable.inverted .bgAnsiDefR {
  background-color: #000000;
   opacity:          0.2;
  -moz-opacity:     0.2;
}
*/
body {
 background-image: url("https://minaprotocol.com/static/img/mina-wordmark-light.svg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-position: right top;
 background-size: 220px;
 background-color: #282828;
}
