#vt100 #cursor.bright {
  background-color: white;
  color:            black;
}

#vt100 #cursor.dim {
  background-color: black;
  opacity:          0.2;
  -moz-opacity:     0.2;
  filter:           alpha(opacity=20);
}

#vt100 #scrollable {
  color:            #ffffff;
  background-color: #000000;
  opacity:          0.2;
  -moz-opacity:     0.2;
}

#vt100 #scrollable.inverted {
  color:            #000000;
  background-color: #ffffff;
  opacity:          0.2;
  -moz-opacity:     0.2;
}

#vt100 .ansiDef {
  color:            #ffffff;
}

#vt100 .ansiDefR {
  color:            #000000;
}

#vt100 .bgAnsiDef {
  background-color: #000000;
}

#vt100 .bgAnsiDefR {
  background-color: #ffffff;
}

#vt100 #scrollable.inverted .ansiDef {
  color:            #000000;

}

#vt100 #scrollable.inverted .ansiDefR {
  color:            #ffffff;
   opacity:          0.2;
  -moz-opacity:     0.2;
}

#vt100 #scrollable.inverted .bgAnsiDef {
 opacity:          0.2;
  -moz-opacity:     0.2;
  background-color: #ffffff;
}

#vt100 #scrollable.inverted .bgAnsiDefR {
  background-color: #000000;
   opacity:          0.2;
  -moz-opacity:     0.2;
}

body {
 background-image: url("https://user-images.githubusercontent.com/21022937/87610675-f6c28900-c740-11ea-8446-a2cf1ddde1a5.png");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-position: right top;
 background-size: 200px;
 background-color: #282828;
}
